<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Web Server</title>

    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Welvome to the server</h1>
    <div class="navbar">
        <ul>
            <li>
                <a href="/Animals/Cats?Name=Sharo&age=5">Cats</a>
            </li>
            <li>
                <a href="/Animals/Dogs">Dogs</a>
            </li>
        </ul>
    </div>

    @RenderBody()

    <div>Footer</div>
</body>
</html>
